/* Fonts */

@font-face {
    font-family:'PF Din Text Pro';
    src:url('../fonts/pfdintextpro.eot');
    src:url('../fonts/pfdintextpro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfdintextpro.woff') format('woff'),
        url('../fonts/pfdintextpro.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'PF Din Text Pro';
    src:url('../fonts/pfdintextprol.eot');
    src:url('../fonts/pfdintextprol.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfdintextprol.woff') format('woff'),
        url('../fonts/pfdintextprol.ttf') format('truetype');
    font-weight:300;
    font-style:normal;
}
@font-face {
    font-family:'PF Din Text Pro';
    src:url('../fonts/pfdintextprom.eot');
    src:url('../fonts/pfdintextprom.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfdintextprom.woff') format('woff'),
        url('../fonts/pfdintextprom.ttf') format('truetype');
    font-weight:500;
    font-style:normal;
}
@font-face {
    font-family:'PF Din Text Pro';
    src:url('../fonts/pfdintextprob.eot');
    src:url('../fonts/pfdintextprob.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfdintextprob.woff') format('woff'),
        url('../fonts/pfdintextprob.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}

/* Default */

html {
	height:100%;
}
html * {
	max-height:1000000px;
}
body {
	width:100%;
	height:100%;
	color:#121820;
	font-size:12px;
	line-height:16px;
    font-family:'PF Din Text Pro', sans-serif;
	padding:0;
	margin:0;
	background:#ffffff;
	-webkit-tap-highlight-color:transparent;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 16px;
}
table {
	margin:0 0 16px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#121820;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#121820;
	font-size:12px;
    font-family:'PF Din Text Pro', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border:0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
textarea {
	overflow:auto;
}
button {
    font-family:'PF Din Text Pro', sans-serif;
	margin:0;
	border:0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
::-webkit-input-placeholder  {
	color:#a8a8a8;
}
:-moz-placeholder {
	color:#a8a8a8;
}
::-moz-placeholder {
	color:#a8a8a8;
}
:-ms-input-placeholder {
	color:#a8a8a8;
}
.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading.slick-track{visibility:hidden}.slick-slider{-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
.wrapper {
	position:relative;
	min-width:1000px;
	min-height:100%;
	margin:0 auto;
}

/* Core */

.header {
	position:fixed;
	left:0;
	top:0;
	z-index:100;
	width:100%;
	background:#ffffff;
	-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.11);
	box-shadow:0 3px 5px rgba(0,0,0,0.11);
	-webkit-transform-origin:center top;
	transform-origin:center top;
}
.header:before, .header:after {
	content:'';
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background:#ffffff;
}
.header:before {
	left:-99%;
}
.header:after {
	right:-99%;
}
.header__row {
	position:relative;
	width:1220px;
	height:91px;
	margin:0 auto;
}
.header--logo {
	position:absolute;
	left:30px;
	top:16px;
	display:block;
	width:115px;
	height:56px;
	background:url('../img/logo-n.svg') no-repeat 1px 0;
}
.menu-open {
	display:none;
}
.nav {
	position:absolute;
	right:30px;
	top:0;
}
.nav .close {
	display:none;
}
.nav ul {
	margin:0 -30px 0 0;
}
.nav li {
	float:left;
	margin:0 0 0 7px;
}
.nav a {
	position:relative;
	display:block;
	font-size:17px;
	line-height:20px;
	font-weight:500;
	text-transform:uppercase;
	padding:37px 30px 34px;
}
.nav .active a {
	color:#5bba47;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}/*
.nav .active a:after {
	content:'';
	position:absolute;
	left:30px;
	bottom:0;
	width:calc(100% - 60px);
	height:5px;
	background:#5bba47;
}*/
.nav-underline {
	position:absolute;
	bottom:0;
	display:block;
	height:5px;
	margin-left:30px;
	background:#5bba47;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.section {
	overflow:hidden;
	position:relative;
	height:100%;
}
.about {
	position:relative;
	color:#ffffff;
	text-align:center;
	background:url('../img/about-bg.jpg') no-repeat center center;
	background-size:cover;
}
.about__row {
	position:absolute;
	left:50%;
	top:50%;
	width:1160px;
	height:900px;
	padding:213px 0 0;
	margin:-450px 0 0 -580px;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.about--scroll {
	position:absolute;
	left:50%;
	bottom:68px;
	display:block;
	width:27px;
	height:41px;
	margin-left:-13px;
	background:url('../img/scroll-icon.svg') no-repeat 0 0;
	transition:all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transition:all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.about--scroll:hover {
	-webkit-transform:translateY(5px);
	transform:translateY(5px);
}
.about--title {
	width:920px;
	font-size:36px;
	line-height:1.39;
	text-transform:uppercase;
	letter-spacing:1px;
	padding:0;
	margin:0 auto 89px;
}
.about--text {
	font-size:33px;
	line-height:45px;
	font-weight:300;
	letter-spacing:1px;
	text-transform:uppercase;
	margin:0 0 60px;
}
.about--mark {
	display:block;
	margin:0 auto 77px;
}
.about--list {
	text-align:left;
	white-space:nowrap;
	padding:0 0 0 13px;
	margin:79px 0 0;
}
.about--list li {
	position:relative;
	display:inline-block;
	min-height:48px;
	vertical-align:top;
	white-space:normal;
	padding:8px 30px 0;
	margin:0 -3px 0 0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.about--list li:nth-child(1) {
	width:255px;
	padding-left:54px;
}
.about--list li:nth-child(2) {
	width:246px;
	padding-top:0;
	padding-left:60px;
}
.about--list li:nth-child(3) {
	width:226px;
	padding-left:64px;
}
.about--list li:nth-child(4) {
	width:213px;
	padding-left:72px;
}
.about--list li:nth-child(5) {
	width:208px;
	padding-left:70px;
}
.about--list i {
	position:absolute;
	display:block;
	left:0;
	background-repeat:no-repeat;
	background-position:0 0;
}
.about--list .icon-1 {
	top:-2px;
	width:29px;
	height:43px;
	background-image:url('../img/about-list-icon-1.svg');
}
.about--list .icon-2 {
	top:3px;
	width:30px;
	height:39px;
	background-image:url('../img/about-list-icon-2.svg');
}
.about--list .icon-3 {
	top:-3px;
	width:36px;
	height:44px;
	background-image:url('../img/about-list-icon-3.svg');
}
.about--list .icon-4 {
	top:0;
	width:43px;
	height:41px;
	background-image:url('../img/about-list-icon-4.svg');
}
.about--list .icon-5 {
	top:-1px;
	width:40px;
	height:41px;
	background-image:url('../img/about-list-icon-5.svg');
}
.about--list li p {
	font-size:18px;
	line-height:24px;
	font-weight:500;
	text-transform:uppercase;
	margin:0;
}
.about--title, .about--text, .about--mark, .about--list li {
	opacity:0;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
}
.process {
	position:relative;
	background:url('../img/process-bg.svg') no-repeat center top;
}
.process:before {
	content:'';
	position:absolute;
	left:50%;
	top:0;
	width:1160px;
	height:100%;
	margin-left:-580px;
}
.process--pillar {
	position:absolute;
	left:50%;
	top:134px;
	display:block;
	width:217px;
	height:369px;
	margin-left:-128px;
	background:url('../img/pillar.svg') no-repeat 0 0;
}
.process-car {
	position:absolute;
	left:50%;
	top:0;
	z-index:1;
	width:365px;
	height:262px;
	margin-left:-1324px;
	margin-top:-174px;
	background:url('../img/car.svg') no-repeat 0 0;
	-webkit-transition:none;
	transition:none;
}
.process-car.mid {
	-webkit-transition:all 3s ease-out;
	transition:all 3s ease-out;
	-webkit-transform:translate(801px,471px);
	transform:translate(801px,471px);
}
.process-car.end {
	-webkit-transition:all 3s ease-in;
	transition:all 3s ease-in;
	-webkit-transform:translate(2284px,1342px);
	transform:translate(2284px,1342px);
}
.process-icon {
	position:absolute;
	left:50%;
	top:297px;
	z-index:3;
	width:65px;
	height:38px;
	margin-left:-278px;
	background:url('../img/luch.svg') no-repeat 0 0;
}
.process-icon.blink {
	-webkit-animation:blink 1s linear infinite;
	animation:blink 1s linear infinite;
}
.process-gate-base {
	position:absolute;
	left:50%;
	top:398px;
	display:block;
	width:168px;
	height:151px;
	margin-left:-10px;
	background:url('../img/gate-base.svg') no-repeat 0 0;
}
.process-gate-stick {
	position:absolute;
	left:50%;
	top:404px;
	z-index:2;
	display:block;
	width:350px;
	height:212px;
	margin-left:-212px;
	background:url('../img/gate-stick.svg') no-repeat 0 0;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	-webkit-transform-origin:92% 15%;
	transform-origin:92% 15%;
}
.process-gate-stick.opened {
	-webkit-transform:rotate(58deg);
	transform:rotate(58deg);
}
@-webkit-keyframes blink {
	50% { opacity:1; }
	51% { opacity:0; }
	100% { opacity:0; }
}
@keyframes blink {
	50% { opacity:1; }
	51% { opacity:0; }
	100% { opacity:0; }
}
.process-ray {
	position:absolute;
	right:50%;
	top:259px;
	z-index:2;
	margin-right:79px;
	background:url('../img/ray.svg') no-repeat 0 0;
}
.process__row {
	position:absolute;
	left:50%;
	top:0;
	width:1160px;
	height:900px;
	padding:141px 0 0 749px;
	margin:0 0 0 -580px;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
	-webkit-transform-origin:center top;
	transform-origin:center top;
}
.process__row ul {
	margin:0 0 52px -2px;
}
.process__row li {
	position:relative;
	color:#ffffff;
	font-size:20px;
	line-height:23px;
	padding:5px 0 5px 113px;
	margin:0 0 41px;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.process__row li:first-child {
	padding-top:17px;
}
.process__row li i {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:79px;
	height:79px;
	font-size:22px;
	line-height:22px;
	font-weight:500;
	font-style:normal;
	text-align:center;
	padding:16px 10px 19px;
	background:#2a3541;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.process__row li i span {
	display:block;
	color:#5bba47;
}
.process__row div {
	padding:35px 46px 43px;
	margin:0 30px 0 0;
	background:rgba(255,255,255,0.8);
	-webkit-border-radius:7px;
	border-radius:7px;
}
.process__row div p {
	color:#121820;
	font-size:16px;
	line-height:25px;
	margin:0;
}
.process__order {
	position:absolute;
	left:0;
	bottom:0;
	z-index:5;
	width:100%;
	background:#eaf0f2;
	-webkit-transform-origin:center bottom;
	transform-origin:center bottom;
}
.process__order:before, .process__order:after {
	content:'';
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background:#eaf0f2;
}
.process__order:before {
	left:-99%;
}
.process__order:after {
	right:-99%;
}
.process__order > div {
	overflow:hidden;
	position:relative;
	height:128px;
	width:1160px;
	margin:0 auto;
}
.process__order > div:before {
	content:'';
	position:absolute;
	left:24px;
	bottom:0;
	width:185px;
	height:102px;
	background:url('../img/plane.png') no-repeat 0 0;
}
.process__order p {
	position:absolute;
	left:214px;
	top:50%;
	color:#121820;
	font-size:20px;
	line-height:23px;
	font-weight:500;
	margin:-13px 0 0;
}
.process__order button {
	position:absolute;
	right:59px;
	top:50%;
	min-width:236px;
	color:#ffffff;
	font-size:17px;
	line-height:20px;
	font-weight:500;
	text-transform:uppercase;
	cursor:pointer;
	padding:19px 18px 16px;
	margin-top:-28px;
	background-color:#5bba47;
	-webkit-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 4px 0 #469038;
	box-shadow:0 4px 0 #469038;
}
.process__order button:hover {
	-webkit-transform:translateY(2px);
	transform:translateY(2px);
	-webkit-box-shadow:0 2px 0 #469038;
	box-shadow:0 2px 0 #469038;
}
.process__row li, .process-icon, .process__row div {
	opacity:0;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
}
.process__row li.visible, .process-icon.visible, .process__row div.visible {
	opacity:1;
}
.process__row div button {
	display:none;
}
.process-ray {
	width:0;
	height:0;
	background-position:right top;
	opacity:1;
}
.process-ray.show {
	width:190px;
	height:117px;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
}
.process-ray.hidden {
	opacity:0;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
}
.benefits {
	position:relative;
	background-color:#5bba47;
}
.benefits__row {
	position:absolute;
	left:50%;
	top:50%;
	width:1160px;
	height:900px;
	text-align:center;
	padding:228px 0 0 0;
	margin:-450px 0 0 -580px;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.benefits--list {
	position:relative;
	clear:both;
	overflow:hidden;
	padding:2px 0 3px;
	margin:0 0 85px;
	opacity:0;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
}
.benefits--list.visible {
	opacity:1;
}
.benefits--list:before, .benefits--list:after {
	content:'';
	position:absolute;
	top:0;
	width:2px;
	height:calc(100% - 5px);
	margin-left:-1px;
	background:#52aa3f;
}
.benefits--list:before {
	left:33.33%;
}
.benefits--list:after {
	left:66.66%;
}
.benefits--list li {
	position:relative;
	float:left;
	width:33.33%;
	color:#ffffff;
	padding:0 40px;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.benefits--list img {
	margin:0 0 50px;
}
.benefits--list h4 {
	font-size:30px;
	line-height:36px;
	font-weight:500;
	letter-spacing:1px;
	padding:0;
	margin:0 0 51px;
}
.benefits--list p {
	font-size:18px;
	line-height:25px;
	margin:0;
}
.benefits--button {
	min-width:236px;
	color:#121820;
	font-size:17px;
	line-height:20px;
	font-weight:500;
	text-transform:uppercase;
	cursor:pointer;
	padding:19px 18px 16px;
	margin-top:-28px;
	background-color:#ffffff;
	-webkit-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 4px 0 #d4dadd;
	box-shadow:0 4px 0 #d4dadd;
}
.benefits--button:hover {
	-webkit-transform:translateY(2px);
	transform:translateY(2px);
	-webkit-box-shadow:0 2px 0 #d4dadd;
	box-shadow:0 2px 0 0 #d4dadd;
}
.connect {
	position:relative;
	background-color:#f6f8f8;
}
.connect__row {
	position:absolute;
	left:50%;
	top:50%;
	width:1160px;
	height:900px;
	padding:149px 0 0 0;
	margin:-450px 0 0 -580px;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.connect--title {
	color:#121820;
	font-size:30px;
	line-height:36px;
	font-weight:500;
	text-align:center;
	letter-spacing:1px;
	padding:0;
	margin:0 0 74px;
}
.connect__list {
	display:inline-block;
	width:64%;
	vertical-align:top;
	padding:0 30px 0 0;
	margin:0 -3px 0 0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.connect__list li {
	position:relative;
	display:table;
	width:100%;
	min-height:64px;
	padding:0 0 0 108px;
	margin:0 0 33px;
}
.connect__list i {
	position:absolute;
	left:0;
	top:2px;
	display:block;
	width:57px;
	height:57px;
	color:#ffffff;
	font-size:16px;
	line-height:16px;
	font-weight:500;
	font-style:normal;
	text-align:center;
	padding:10px 10px 15px;
	background:#262d36;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.connect__list i span {
	display:block;
	color:#5bba47;
}
.connect__list p {
	display:table-cell;
	color:#000000;
	font-size:24px;
	line-height:32px;
	vertical-align:middle;
	letter-spacing:1px;
	margin:0;
}
.connect__list a {
	position:relative;
	color:#000000;
}
.connect__list a:after {
	content:'';
	position:absolute;
	left:0;
	bottom:2px;
	width:100%;
	height:1px;
	background:#000000;
	opacity:0.3;
}
.connect__list a:hover:after {
	opacity:0;
}
.connect__rc {
	display:inline-block;
	width:36%;
	vertical-align:top;
	margin:16px -10px 0 0;
}
.connect__done {
	position:relative;
	color:#000000;
	margin:0 0 81px;
}
.connect__done p {
	font-size:18px;
	line-height:21px;
	margin:0 0 28px;
}
.connect__done .counter {
	position:relative;
	width:294px;
	height:81px;
	color:#5bba47;
	font-size:90px;
	line-height:94px;
	font-weight:bold;
	letter-spacing:1px;
	margin:0 0 146px -4px;
}
.connect__done .counter span {
	opacity:0;
}
.connect__done .counter:after {
	content:'';
	position:absolute;
	right:-21px;
	top:39px;
	width:72px;
	height:135px;
	background:url('../img/count-arrow.png') no-repeat 0 0;
}
.connect__done h6 {
	position:relative;
	min-height:27px;
	color:#000000;
	font-size:18px;
	line-height:21px;
	font-weight:normal;
	padding:4px 0 2px 38px;
	margin:0 0 20px;
	background:url('../img/user-icon.png') no-repeat 0 0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.connect__rc--button {
	min-width:293px;
	color:#ffffff;
	font-size:17px;
	line-height:20px;
	font-weight:500;
	text-transform:uppercase;
	cursor:pointer;
	padding:19px 18px 16px;
	margin-top:-28px;
	background-color:#5bba47;
	-webkit-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 4px 0 #469038;
	box-shadow:0 4px 0 #469038;
}
.connect__rc--button:hover {
	-webkit-transform:translateY(2px);
	transform:translateY(2px);
	-webkit-box-shadow:0 2px 0 #469038;
	box-shadow:0 2px 0 0 #469038;
}
.connect__download {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	z-index:2;
	background-color:#e6eaec;
	-webkit-transform-origin:center bottom;
	transform-origin:center bottom;
}
.connect__download:before, .connect__download:after {
	content:'';
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background-color:#e6eaec;
}
.connect__download:before {
	left:-99%;
}
.connect__download:after {
	right:-99%;
}
.connect__download > div {
	position:relative;
	width:1160px;
	height:202px;
	margin:0 auto;
}
.connect__download > div:before {
	content:'';
	position:absolute;
	left:255px;
	bottom:0;
	width:192px;
	height:173px;
	background:url('../img/app.png') no-repeat 0 0;
}
.connect__download--text {
	position:absolute;
	left:480px;
	top:49px;
}
.connect__download--text p {
	color:#121820;
	font-size:18px;
	line-height:21px;
	font-weight:500;
	margin:0 0 16px;
}
.connect__download--text ul {
	margin:0;
}
.connect__download--text li {
	float:left;
	margin:0 21px 0 0;
}
.connect__download--text img {
	vertical-align:top;
}
.partners {
	position:relative;
	background:url('../img/partners-bg.svg') no-repeat center center;
	background-size:cover;
}
.partners__row {
	position:absolute;
	left:50%;
	top:50%;
	width:1160px;
	height:900px;
	text-align:center;
	padding:151px 0 0 0;
	margin:-450px 0 0 -580px;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.partners__nav {
	margin:0 0 57px;
}
.partners__nav li {
	display:inline-block;
	vertical-align:top;
	margin:0 -2px 0 -1px;
}
.partners__nav a {
	display:block;
	color:#121820;
	font-size:20px;
	line-height:23px;
	font-weight:bold;
	text-transform:uppercase;
	padding:17px 50px 16px;
	background:transparent;
	-webkit-border-radius:6px;
	border-radius:6px;
}
.partners__nav .active a {
	color:#ffffff;
	background-color:#d5d9e0;
}
.partners__content {
	position:relative;
	min-height:370px;
}
.partners__list {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	margin:0;
	opacity:0;
}
.partners__list li {
	float:left;
	width:25%;
	text-align:center;
	padding:0 30px;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.partners__list img {
	margin:0 0 40px;
}
.partners__list p {
	min-height:96px;
	color:#121820;
	font-size:18px;
	line-height:24px;
	font-weight:500;
	margin:0;
}
.partners--button {
	min-width:232px;
	color:#ffffff;
	font-size:17px;
	line-height:20px;
	font-weight:500;
	text-transform:uppercase;
	cursor:pointer;
	padding:19px 18px 16px;
	margin-top:-28px;
	background-color:#596273;
	-webkit-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 4px 0 #454d5c;
	box-shadow:0 4px 0 #454d5c;
}
.partners--button:hover {
	-webkit-transform:translateY(2px);
	transform:translateY(2px);
	-webkit-box-shadow:0 2px 0 #454d5c;
	box-shadow:0 2px 0 0 #454d5c;
}
.footer {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	z-index:2;
	background-color:#121820;
	-webkit-transform-origin:center bottom;
	transform-origin:center bottom;
}
.footer:before, .footer:after {
	content:'';
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background-color:#121820;
}
.footer:before {
	left:-99%;
}
.footer:after {
	right:-99%;
}
.footer__row {
	width:1160px;
	color:#ffffff;
	text-align:center;
	padding:35px 0 35px;
	margin:0 auto;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.footer--social p {
	display:inline-block;
	font-size:24px;
	line-height:27px;
	vertical-align:top;
	margin:0;
}
.footer--social ul {
	display:inline-block;
	vertical-align:top;
	margin:5px 0 0 23px;
}
.footer--social li {
	position:relative;
	display:inline-block;
	width:30px;
	vertical-align:top;
	margin:0 0 0 17px;
}
.footer--social li:before {
	content:'';
	position:absolute;
	left:-10px;
	width:2px;
	height:21px;
	margin-left:-1px;
	background:#2e3643;
}
.footer--social li:first-child:before {
	display:none;
}
.footer--social li a {
	display:block;
	width:30px;
	height:21px;
}
.footer--social li a.vk-icon {
	background:url('../img/vk-icon.svg') no-repeat center 3px;
}
.footer--social li a.fb-icon {
	background:url('../img/fb-icon.svg') no-repeat center 2px;
}
.footer--social li a.tw-icon {
	background:url('../img/tw-icon.svg') no-repeat center 3px;
}
.footer--copy {
	color:#b4b4b4;
	font-size:16px;
	line-height:19px;
	margin:40px 0 -8px;
}

.mobile .header__row {
	width:auto;
	height:43px;
}
.mobile .header--logo {
	left:50%;
	top:7px;
	width:70px;
	height:25px;
	margin-left:-31px;
	background-size:100% auto;
}
.mobile .menu-open {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:50px;
	height:43px;
	cursor:pointer;
	background:url('../img/menu-open.svg') no-repeat 11px 13px;
}
.mobile .wrapper {
	min-width:320px;
}
.mobile .about {
	background-position:48% center;
}
.mobile .about__row {
	left:50%;
	top:50%;
	width:320px;
	height:568px;
	padding:76px 40px 0;
	margin:-284px 0 0 -160px;
}
.mobile .about--title {
	width:auto;
	font-size:16px;
	line-height:22px;
	letter-spacing:0;
	margin:0 0 24px;
}
.mobile .about--mark {
	width:233px;
	height:auto;
	margin:0 0 22px;
}
.mobile .about--text {
	font-size:16px;
	line-height:23px;
	letter-spacing:0;
	margin:0 0 21px;
}
.mobile .about--list {
	padding:0;
	margin:0;
}
.mobile .about--list li {
	display:block;
	width:auto;
	padding:10px 0 10px 87px;
	margin:0 0 10px;
}
.mobile .about--list li p {
	font-size:14px;
	line-height:21px;
}
.mobile .about--list li p br {
	display:none;
}
.mobile .about--list i {
	margin:0 0 0 31px;
	-webkit-transform:scale(0.825);
	transform:scale(0.825);
}
.mobile .benefits__row {
	width:320px;
	height:568px;
	padding:108px 0 0;
	margin:-284px 0 0 -160px;
}
.mobile .benefits--list:before, .mobile .benefits--list:after {
	display:none;
}
.mobile .benefits--list .slick-prev, .mobile .benefits--list .slick-next {
	position:absolute;
	top:161px;
	z-index:5;
	width:39px;
	height:53px;
}
.mobile .benefits--list .slick-prev {
	left:9px;
	background:url('../img/slick-prev-green.svg') no-repeat 10px 10px;
}
.mobile .benefits--list .slick-next {
	right:9px;
	background:url('../img/slick-next-green.svg') no-repeat 10px 10px;
}
.mobile .benefits--list {
	padding:0;
	margin:0;
}
.mobile .benefits--list li {
	width:100%;
	height:342px;
}
.mobile .benefits--list img {
	width:115px;
	height:115px;
	margin:0 auto 44px;
}
.mobile .benefits--list h4 {
	font-size:22px;
	line-height:26px;
	margin:0 0 30px;
}
.mobile .benefits--list p {
	font-size:16px;
	line-height:18px;
}
.mobile .benefits--button {
	min-width:0;
	font-size:12px;
	line-height:16px;
	padding:11px 32px 9px;
	margin:0;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 3px 0 #d4dadd;
	box-shadow:0 3px 0 #d4dadd;
}
.mobile .connect__row {
	width:320px;
	height:568px;
	padding:69px 36px 0;
	margin:-284px 0 0 -160px;
}
.mobile .connect--title {
	font-size:18px;
	line-height:20px;
	letter-spacing:0;
	margin:0 20px 34px;
}
.mobile .connect__list {
	display:block;
	width:auto;
	padding:0;
	margin:0 0 36px;
}
.mobile .connect__list li {
	min-height:40px;
	padding:0 0 0 61px;
	margin:0 0 18px;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.mobile .connect__list i {
	top:1px;
	width:38px;
	height:38px;
	font-size:12px;
	line-height:10px;
	padding:8px 5px 0;
}
.mobile .connect__list p {
	font-size:16px;
	line-height:20px;
	letter-spacing:0;
}
.mobile .connect__list p br {
	display:none;
}
.mobile .connect__done {
	display:none;
}
.mobile .connect__rc {
	display:block;
	width:auto;
	text-align:center;
	margin:0;
}
.mobile .connect__rc--button {
	min-width:0;
	font-size:12px;
	line-height:16px;
	padding:11px 30px 9px;
	margin:0;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 4px 0 #469038;
	box-shadow:0 4px 0 #469038;
}
.mobile .connect__download:before, .mobile .connect__download:after {
	width:300%;
}
.mobile .connect__download:before {
	left:-299%;
}
.mobile .connect__download:after {
	right:-299%;
}
.mobile .connect__download > div {
	width:320px;
	height:98px;
}
.mobile .connect__download > div:before {
	left:26px;
	width:100px;
	height:86px;
	background-size:auto 100%;
}
.mobile .connect__download--text {
	left:110px;
	top:17px;
}
.mobile .connect__download--text p {
	font-size:14px;
	line-height:13px;
	margin:0 30px 11px 0;
}
.mobile .connect__download--text li {
	margin:0 10px 0 0;
}
.mobile .connect__download--text img {
	width:87px;
	height:auto;
}
.mobile .partners__row {
	width:320px;
	height:568px;
	padding:72px 0 0;
	margin:-284px 0 0 -160px;
}
.mobile .partners__nav {
	margin:0 0 33px;
}
.mobile .partners__nav a {
	font-size:16px;
	line-height:21px;
	padding:8px 25px 7px;
}
.mobile .partners__content {
	min-height:0;
	height:279px;
}
.mobile .partners__list {
	width:100%;
	height:279px;
}
.mobile .partners__list .slick-prev, .mobile .partners__list .slick-next {
	position:absolute;
	top:161px;
	z-index:5;
	width:39px;
	height:53px;
	background:red;
}
.mobile .partners__list .slick-prev {
	left:11px;
	background:url('../img/slick-prev-grey.svg') no-repeat 10px 10px;
}
.mobile .partners__list .slick-next {
	right:11px;
	background:url('../img/slick-next-grey.svg') no-repeat 10px 10px;
}
.mobile .partners__list:first-child {
	opacity:1;
}
.mobile .partners__list li {
	width:100%;
	padding:0 40px;
}
.mobile .partners__list img {
	width:115px;
	height:115px;
	margin:0 auto 41px;
}
.mobile .partners__list p {
	min-height:0;
	line-height:22px;
	margin:0 30px;
}
.mobile .partners--button {
	min-width:0;
	font-size:12px;
	line-height:16px;
	padding:11px 30px 9px;
	margin:0;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 4px 0 #454d5c;
	box-shadow:0 4px 0 #454d5c;
}
.mobile .footer:before, .mobile .footer:after {
	width:300%;
}
.mobile .footer:before {
	left:-299%;
}
.mobile .footer:after {
	right:-299%;
}
.mobile .footer__row {
	width:320px;
	padding:15px 20px;
}
.mobile .footer--social {
	white-space:nowrap;
	text-align:left;
}
.mobile .footer--social p {
	font-size:12px;
	line-height:16px;
	margin:0 0 0 4px;
}
.mobile .footer--social ul {
	margin:0 -30px 0 -2px;
	-webkit-transform:scale(0.8);
	transform:scale(0.8);
	-webkit-transform-origin:left top;
	transform-origin:left top;
}
.mobile .footer--copy {
	font-size:12px;
	line-height:16px;
	margin:5px 0 0;
}/*
.mobile .process--pillar,
.mobile .process-car,
.mobile .process-icon,
.mobile .process-ray,
.mobile .process-gate-base,
.mobile .process-gate-stick {
	display:none;
}*/
.mobile .process {
	background:url('../img/process-bg-m.svg') no-repeat center top;
}
.mobile .process--pillar {
	top:66px;
	width:81px;
	height:141px;
	margin-left:19px;
	background:url('../img/pillar-m.svg') no-repeat 0 0;
}
.mobile .process-gate-base {
	top:164px;
	width:56px;
	height:56px;
	margin-left:73px;
	background:url('../img/gate-base-m.svg') no-repeat 0 0;
}
.mobile .process-gate-stick {
	top:177px;
	width:152px;
	height:85px;
	margin-left:-17px;
	background:url('../img/gate-stick-m.svg') no-repeat 0 0;
}
.mobile .process-car {
	left:0;
	width:144px;
	height:103px;
	margin-left:-201px;
	margin-top:0;
	background:url('../img/car-m.svg') no-repeat 0 0;
}
.mobile .process-car.mid {
	-webkit-transform:translate(228px,132px);
	transform:translate(228px,132px);
}
.mobile .process-car.end {
	-webkit-transform:translate(522px,301px);
	transform:translate(522px,301px);
}
.mobile .process-ray {
	position:absolute;
	right:50%;
	top:121px;
	z-index:2;
	margin-right:-29px;
	background:url('../img/ray-m.svg') no-repeat right top;
}
.mobile .process-ray.show {
	width:64px;
	height:42px;
}
.mobile .process-icon {
	top:123px;
	width:27px;
	height:16px;
	margin-left:-41px;
	background:url('../img/luch-m.svg') no-repeat 0 0;
}
.mobile .process__row li.hidden {
	opacity:0;
}
.mobile .process__row {
	position:absolute;
	left:50%;
	bottom:68px;
	z-index:10;
	width:320px;
	height:500px;
	padding:0;
	margin:0 0 0 -160px;
	-webkit-transform-origin:center top;
	transform-origin:center top;
}
.mobile .process__row ul {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	margin:0;
}
.mobile .process__row li {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	display:block;
	color:#000000;
	font-size:18px;
	line-height:22px;
	padding:0 45px 20px;
	margin:0;
}
.mobile .process__row li br {
	display:none;
}
.mobile .process__row li i {
	position:static;
	width:68px;
	height:68px;
	color:#ffffff;
	font-size:20px;
	line-height:16px;
	padding:16px 10px 0;
	margin:0 0 20px -3px;
}
.mobile .process__row div {
	position:absolute;
	left:28px;
	bottom:0;
	width:264px;
	text-align:center;
	padding:24px 22px 27px;
	margin:0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
	background:rgba(255,255,255,0.82);
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.29);
	box-shadow:0 0 5px rgba(0,0,0,0.29);
}
.mobile .process__row div p {
	font-size:14px;
	line-height:18px;
}
.mobile .process__row div p br {
	display:none;
}
.mobile .process__row div button {
	position:static;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	line-height:16px;
	font-weight:500;
	vertical-align:top;
	text-transform:uppercase;
	padding:11px 27px 9px;
	margin:24px 0 0;
	background:#5bba47;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 3px 0 0 #469038;
	box-shadow:0 3px 0 0 #469038;
}
.mobile .process__order > div:before {
	left:22px;
	width:100px;
	height:48px;
	background-size:auto 48px;
}
.mobile .process__order p {
	width:200px;
	left:97px;
	top:21px;
	font-size:12px;
	line-height:14px;
	margin:0;
}
.mobile .process__order:before, .mobile .process__order:after {
	width:300%;
}
.mobile .process__order:before {
	left:-299%;
}
.mobile .process__order:after {
	right:-299%;
}
.mobile .process__order > div {
	width:320px;
	height:68px;
}
.mobile .process__order button {
	display:none;
}
.normal-scroll .section {
	height:568px;
}
.normal-scroll .wrapper {
	overflow:hidden;
}
.mobile .nav {
	overflow:hidden;
	position:fixed;
	left:-320px;
	top:0;
	z-index:100;
	display:block;
	width:321px;
	height:100%;
	margin-left:-1px;
	background:#121820;
	overflow:auto;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.mobile .nav.opened {
	left:0;
}
.mobile .nav .close {
	position:absolute;
	left:13px;
	top:9px;
	display:block;
	width:46px;
	height:44px;
	background:url('../img/nav-close.svg') no-repeat 11px 10px;
}
.mobile .nav-underline {
	display:none;
}
.mobile .nav ul {
	padding:75px 0;
	margin:0;
}
.mobile .nav li {
	float:none;
	margin:0;
}
.mobile .nav li a {
	color:#ffffff;
	font-size:18px;
	line-height:22px;
	padding:20px 38px 20px 82px;
}
.mobile .nav li a:before {
	content:'';
	position:absolute;
	left:49px;
	top:25px;
	width:6px;
	height:6px;
	border:2px solid #5bba47;
	-webkit-border-radius:50%;
	border-radius:50%;
}
body.is-locked {
	overflow:hidden;
}
.modal {
	display:none;
	position:fixed;
	left:50%;
	top:50%;
	z-index:1010;
	width:541px;
	margin-left:-270px;
	background:#ffffff;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 14px 0 rgba(0,0,0,0.5);
	box-shadow:0 1px 14px 0 rgba(0,0,0,0.5);
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.modal--close {
	position:absolute;
	right:7px;
	top:8px;
	z-index:2;
	display:block;
	width:46px;
	height:44px;
	cursor:pointer;
	background:url('../img/modal-close.svg') no-repeat 11px 10px;
}
.modal__form {
	position:relative;
	padding:44px 86px 44px 87px;
}
.modal__form h4 {
	font-size:24px;
	line-height:27px;
	font-weight:500;
	text-align:center;
	padding:0;
	margin:0 0 47px;
}
.modal__label {
	display:block;
	margin:0 0 25px;
}
.modal__label p {
	font-size:16px;
	line-height:19px;
	margin:0 0 6px;
}
.modal__label .title {
	color:#121820;
}
.modal__label .message {
	display:none;
}
.modal__label.error .title {
	display:none;
}
.modal__label.error .message {
	position:relative;
	display:block;
	color:#ff0000;
	padding-left:33px;
}
.modal__label.error .message:before {
	content:'';
	position:absolute;
	left:0;
	top:-5px;
	width:22px;
	height:20px;
	background:url('../img/error-icon.svg') no-repeat 0 0;
}
.modal__label ::-webkit-input-placeholder  {
	color:#979797;
	font-style:italic;
}
.modal__label :-moz-placeholder {
	color:#979797;
	font-style:italic;
}
.modal__label::-moz-placeholder {
	color:#979797;
	font-style:italic;
}
.modal__label :-ms-input-placeholder {
	color:#979797;
	font-style:italic;
}
.modal__label input,
.modal__label textarea {
	width:100%;
	color:#121820;
	font-size:14px;
	font-family:'Roboto', sans-serif;
	vertical-align:top;
	padding:12px 16px;
	border:1px solid #bdbdbd;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.modal__form button {
	display:block;
	min-width:236px;
	color:#ffffff;
	font-size:17px;
	line-height:20px;
	font-weight:500;
	text-transform:uppercase;
	cursor:pointer;
	padding:19px 18px 16px;
	margin:43px auto 25px;
	background-color:#5bba47;
	-webkit-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 4px 0 #469038;
	box-shadow:0 4px 0 #469038;
}
.modal__form button:hover {
	-webkit-transform:translateY(2px);
	transform:translateY(2px);
	-webkit-box-shadow:0 2px 0 #469038;
	box-shadow:0 2px 0 #469038;
}
.modal__text {
	position:relative;
	text-align:center;
	padding:289px 86px 86px 87px;
	background:url('../img/check-icon.svg') no-repeat center 123px;
}
.modal__text h4 {
	font-size:24px;
	line-height:27px;
	font-weight:500;
	text-align:center;
	padding:0;
	margin:0 0 36px;
}
.modal__text p {
	color:#121820;
	font-size:16px;
	line-height:22px;
	margin:0 0 22px;
}
.modal__text button {
	display:none;
}
.fade-bg {
	position:fixed;
	left:0;
	top:0;
	display:none;
	z-index:1000;
	width:100%;
	height:100%;
	background:#000000;
	opacity:0.5;
}
.mobile .modal {
	overflow:auto;
	left:4.5%;
	width:91%;
	min-height:200px;
	max-height:90%;
	margin-left:0;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.mobile .modal__form {
	padding:18px 24px 18px 20px;
}
.mobile .modal__form h4 {
	font-size:16px;
	line-height:19px;
	padding:0;
	margin:0 0 18px;
}
.mobile .modal--close {
	margin:-10px -9px 0 0;
	-webkit-transform:scale(0.5652);
	transform:scale(0.5652);
}
.mobile .modal__label {
	margin:0 0 17px;
}
.mobile .modal__label p {
	font-size:14px;
	line-height:17px;
}
.mobile .modal__label input,
.mobile .modal__label textarea {
	font-size:13px;
	padding:7px 16px 8px;
}
.mobile .modal__label textarea {
	height:151px;
	resize:none;
}
.modal__label.error .message {
	padding-left:24px;
}
.modal__label.error .message:before {
	margin:2px 0 0 -4px;
	-webkit-transform:scale(0.63);
	transform:scale(0.63);
}
.mobile .modal__label.error input,
.mobile .modal__label.error textarea {
	border-color:#ff0000;
}
.mobile .modal__form button {
	min-width:154px;
	font-size:12px;
	line-height:15px;
	padding:11px 10px 10px;
	margin:26px auto 17px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 3px 0 #469038;
	box-shadow:0 3px 0 #469038;
}
.mobile .modal__form button:hover {
	-webkit-transform:translateY(1px);
	transform:translateY(1px);
}
.mobile .modal__text {
	padding:213px 32px 37px 31px;
	background-position:center 56px;
	background-size:116px 116px;
}
.mobile .modal__text h4 {
	font-size:16px;
	line-height:21px;
	margin:0 0 22px;
}
.mobile .modal__text button {
	display:block;
	min-width:87px;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:500;
	text-transform:uppercase;
	padding:11px 10px 10px;
	margin:39px auto 17px;
	background-color:#5bba47;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 3px 0 #469038;
	box-shadow:0 3px 0 #469038;
}
.mobile .modal__text button:hover {
	-webkit-transform:translateY(1px);
	transform:translateY(1px);
	-webkit-box-shadow:0 2px 0 #469038;
	box-shadow:0 2px 0 #469038;
}
@media all and (max-height:567px) {
	.mobile .modal__label textarea {
		height:63px;
	}
}